settings{
    logfile = "/var/log/lsyncd.log",
    statusFile = "/var/log/lsyncd-status.log",
    nodaemon   = true,
}
sync {
    default.rsyncssh,
    source    = "/System/Volumes/Data/Users/szhao/indeed",
    host      = "szhao@szhao-v2.cvm.indeed.net",
    targetdir   = "/home/szhao/indeed",
    exclude  = {},
    excludeFrom = "/Users/szhao/env/etc/git/gitignore_global",
    delay     = 1, 
    rsync     = {
        archive  = true,
        compress = true,
	binary = "/usr/local/bin/rsync",
        rsh = "/usr/bin/ssh -i /Users/szhao/.ssh/id_rsa -o StrictHostKeyChecking=no"
    }
}
